body {
  font-family: 'Raleway', sans-serif;
  margin: 0 10%;
  overflow: auto;
}
@media (max-width: 400px) {
  body {
    margin: 0 8px;
  }
}
body.lightbox-open {
  overflow: hidden;
}
#photos-container {
  margin: 32px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#lightbox-container {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox-open #lightbox-container {
  opacity: 1;
  pointer-events: auto;
}
#lightbox-container::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  content: "";
  opacity: 0.9;
  z-index: 3;
}
#lightbox-container .lightbox-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 4;
  transition: transform 200ms, opacity 200ms;
}
#lightbox-container .lightbox-photo .lightbox-photo-border {
  margin: auto;
}
#lightbox-container .lightbox-photo.is-loading .lightbox-photo-border {
  border: 1px solid #888;
  background-image: url(loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 150px;
  min-height: 150px;
}
#lightbox-container .lightbox-photo .lightbox-photo-img {
  display: block;
  opacity: 0;
  pointer-events: none;
}
#lightbox-container .lightbox-photo.is-visible .lightbox-photo-img {
  animation: fadeIn 200ms forwards;
  pointer-events: auto;
}
#lightbox-container .lightbox-photo.enter-left {
  animation: enterLeft 200ms;
}
#lightbox-container .lightbox-photo.enter-right {
  animation: enterRight 200ms;
}
#lightbox-container .lightbox-photo.exit-left {
  transform: translateX(-200px) scale(0.8);
  opacity: 0;
}
#lightbox-container .lightbox-photo.exit-right {
  transform: translateX(200px) scale(0.8);
  opacity: 0;
}
.thumbnail-wrapper {
  cursor: pointer;
  margin: 4px;
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  padding: 5px 5px 25px 5px;
  transform: rotate(5deg);
  transition: transform 200ms;
}
.thumbnail-wrapper.is-loading {
  background-image: url(loaderDark.gif);
  background-repeat: no-repeat;
  background-position: center;
}
.thumbnail-wrapper .thumbnail {
  opacity: 0;
}
.thumbnail-wrapper .thumbnail.is-visible {
  animation: fadeIn 1s forwards;
}
.thumbnail-wrapper::before {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  color: #888;
  content: "View";
  font-size: 14px;
  z-index: 2;
  opacity: 0;
  transition: opacity 200ms;
}
.thumbnail-wrapper:hover {
  transform: rotate(0);
}
.thumbnail-wrapper:hover::before {
  opacity: 1;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes enterLeft {
  from {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes enterRight {
  from {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
