@BORDER_RADIUS: 5px;

@COLOR_BG_LIGHTBOX: #000;
@COLOR_BORDER_LIGHTBOX: #888;
@COLOR_BORDER_THUMBNAIL: #ddd;
@COLOR_TEXT_LIGHT: #eee;
@COLOR_TEXT_DARK: #444;

@FONT_SIZE_MD: 14px;
@FONT_SIZE_LG: 20px;

@GUTTER_SM: 4px;
@GUTTER_MD: 8px;
@GUTTER_LG: 32px;

@THUMBNAIL_SIZE: 150px;

@TRANSITION: 1s;
@TRANSITION_PHOTO: 400ms;
@TRANSITION_FAST: 200ms;

@ZINDEX_THUMBNAIL_OVERLAY: 2;
@ZINDEX_LIGHTBOX_BG: 3;
@ZINDEX_LIGHTBOX_PHOTO: 4;
@ZINDEX_LIGHTBOX_ARROW: 5;

.positionFill() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0 10%;
    overflow: auto;
}

@media (max-width: 400px) {
    body {
        margin: 0 @GUTTER_MD;
    }
}

body.lightbox-open {
    overflow: hidden;
}

#message {
    margin: @GUTTER_LG 0;

    display: none;
    &.is-visible {
        display: block;
    }
}

#loader {
    margin: @GUTTER_LG auto;

    display: none;
    &.is-visible {
        display: block;
    }
}

#photoset-title {
    color: @COLOR_TEXT_DARK;
    font-size: @FONT_SIZE_LG;
    margin: @GUTTER_LG 0;
    text-align: center;
}

#photos-container {
    margin: @GUTTER_LG auto;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#lightbox-container {
    opacity: 0;
    pointer-events: none;
    transition: opacity @TRANSITION_FAST;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .lightbox-open & {
        opacity: 1;
        pointer-events: auto;
    }

    &::before {
        .positionFill();
        background-color: @COLOR_BG_LIGHTBOX;
        content: "";
        opacity: 0.9;
        z-index: @ZINDEX_LIGHTBOX_BG;
    }

    #lightbox-left-arrow,
    #lightbox-right-arrow {
        color: @COLOR_TEXT_LIGHT;
        cursor: pointer;
        font-size: 40px;
        width: 50px;
        z-index: @ZINDEX_LIGHTBOX_ARROW;

        // Center align arrows
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        bottom: 0;

        display: none;
        &.is-visible {
            display: flex;
        }
    }

    #lightbox-left-arrow {
        left: 0;
    }

    #lightbox-right-arrow {
        right: 0;
    }

    .lightbox-photo {
        .positionFill();

        // Align photo and the caption/title beneath it
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: @ZINDEX_LIGHTBOX_PHOTO;

        .lightbox-photo-title {
            font-size: @FONT_SIZE_MD;
            color: @COLOR_TEXT_LIGHT;
            margin: @GUTTER_MD 20%;

            opacity: 0;
            transition: opacity @TRANSITION_FAST;
            &.is-visible {
                opacity: 1;
            }
        }

        @media (max-width: 400px) {
            .lightbox-photo-title {
                margin: @GUTTER_MD;
            }
        }

        &.is-loading .lightbox-photo-border {
            border: 1px solid @COLOR_BORDER_LIGHTBOX;
            background-image: url(loader.gif);
            background-repeat: no-repeat;
            background-position: center;

            // Prevents zero-sized border box when we don't yet have the image dimensions
            min-width: 150px;
            min-height: 150px;
        }

        .lightbox-photo-img {
            display: block; // no space inside of lightbox-photo border
            opacity: 0;
            pointer-events: none;
            max-width: 100vw;
            max-height: 100vh;
        }

        &:not(.is-loading) .lightbox-photo-img {
            animation: fadeIn @TRANSITION_FAST forwards;
            pointer-events: auto;
        }

        &.enter {
            animation: enter @TRANSITION_PHOTO;
        }

        &.enter-left {
            animation: enterLeft @TRANSITION_PHOTO;
        }

        &.enter-right {
            animation: enterRight @TRANSITION_PHOTO;
        }

        &.exit-left {
            animation: exitLeft @TRANSITION_PHOTO forwards;
        }

        &.exit-right {
            animation: exitRight @TRANSITION_PHOTO forwards;
        }
    }
}

.thumbnail-wrapper {
    // Override default button styles
    box-sizing: content-box;
    background-color: #fff;

    cursor: pointer;
    margin: @GUTTER_SM;
    overflow: hidden;
    position: relative;
    width: @THUMBNAIL_SIZE;
    height: @THUMBNAIL_SIZE;

    border: 1px solid @COLOR_BORDER_THUMBNAIL;
    padding: 5px 5px 25px 5px;
    transform: rotate(5deg);
    transition: transform @TRANSITION_FAST; // For un-rotating on hover

    &.is-loading {
        background-image: url(loaderDark.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

    .thumbnail {
        opacity: 0;
    }

    &:not(.is-loading) .thumbnail {
        animation: fadeIn @TRANSITION forwards;
    }

    &::before {
        position: absolute;
        bottom: @GUTTER_SM;
        left: 0;
        right: 0;

        color: @COLOR_TEXT_DARK;
        content: "View";
        font-size: @FONT_SIZE_MD;
        z-index: @ZINDEX_THUMBNAIL_OVERLAY;

        opacity: 0;
        transition: opacity @TRANSITION_FAST; // For fading on hover
    }

    &:hover {
        transform: rotate(0);

        &::before {
            opacity: 1;
        }
    }
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes enterLeft {
    from {
        opacity: 0;
        transform: translateX(-200px) scale(0.8) rotate(-10deg);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0);
    }
}

@keyframes enterRight {
    from {
        opacity: 0;
        transform: translateX(200px) scale(0.8) rotate(10deg);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0);
    }
}

@keyframes exitLeft {
    from {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0);
    }
    to {
        opacity: 0;
        transform: translateX(-200px) scale(0.8) rotate(-10deg);
    }
}

@keyframes exitRight {
    from {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0);
    }
    to {
        opacity: 0;
        transform: translateX(200px) scale(0.8) rotate(10deg);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
