body {
  font-family: 'Muli', sans-serif;
  margin: 0 10%;
  overflow: auto;
}
@media (max-width: 400px) {
  body {
    margin: 0 8px;
  }
}
body.lightbox-open {
  overflow: hidden;
}
#message {
  margin: 32px 0;
  display: none;
}
#message.is-visible {
  display: block;
}
#photoset-title {
  color: #444;
  font-size: 20px;
  margin: 32px 0;
  text-align: center;
}
#photos-container {
  margin: 32px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#lightbox-container {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox-open #lightbox-container {
  opacity: 1;
  pointer-events: auto;
}
#lightbox-container::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  content: "";
  opacity: 0.9;
  z-index: 3;
}
#lightbox-container #lightbox-left-arrow,
#lightbox-container #lightbox-right-arrow {
  color: #eee;
  cursor: pointer;
  font-size: 40px;
  width: 50px;
  z-index: 5;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
}
#lightbox-container #lightbox-left-arrow.is-visible,
#lightbox-container #lightbox-right-arrow.is-visible {
  display: flex;
}
#lightbox-container #lightbox-left-arrow {
  left: 0;
}
#lightbox-container #lightbox-right-arrow {
  right: 0;
}
#lightbox-container .lightbox-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
#lightbox-container .lightbox-photo .lightbox-photo-title {
  font-size: 14px;
  color: #eee;
  margin: 8px 20%;
  opacity: 0;
  transition: opacity 200ms;
}
#lightbox-container .lightbox-photo .lightbox-photo-title.is-visible {
  opacity: 1;
}
@media (max-width: 400px) {
  #lightbox-container .lightbox-photo .lightbox-photo-title {
    margin: 8px;
  }
}
#lightbox-container .lightbox-photo.is-loading .lightbox-photo-border {
  border: 1px solid #888;
  background-image: url(loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 150px;
  min-height: 150px;
}
#lightbox-container .lightbox-photo .lightbox-photo-img {
  display: block;
  opacity: 0;
  pointer-events: none;
  max-width: 100vw;
  max-height: 100vh;
}
#lightbox-container .lightbox-photo:not(.is-loading) .lightbox-photo-img {
  animation: fadeIn 200ms forwards;
  pointer-events: auto;
}
#lightbox-container .lightbox-photo.enter {
  animation: enter 400ms;
}
#lightbox-container .lightbox-photo.enter-left {
  animation: enterLeft 400ms;
}
#lightbox-container .lightbox-photo.enter-right {
  animation: enterRight 400ms;
}
#lightbox-container .lightbox-photo.exit-left {
  animation: exitLeft 400ms forwards;
}
#lightbox-container .lightbox-photo.exit-right {
  animation: exitRight 400ms forwards;
}
.thumbnail-wrapper {
  cursor: pointer;
  margin: 4px;
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  padding: 5px 5px 25px 5px;
  transform: rotate(5deg);
  transition: transform 200ms;
}
.thumbnail-wrapper.is-loading {
  background-image: url(loaderDark.gif);
  background-repeat: no-repeat;
  background-position: center;
}
.thumbnail-wrapper .thumbnail {
  opacity: 0;
}
.thumbnail-wrapper:not(.is-loading) .thumbnail {
  animation: fadeIn 1s forwards;
}
.thumbnail-wrapper::before {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  color: #444;
  content: "View";
  font-size: 14px;
  z-index: 2;
  opacity: 0;
  transition: opacity 200ms;
}
.thumbnail-wrapper:hover {
  transform: rotate(0);
}
.thumbnail-wrapper:hover::before {
  opacity: 1;
}
@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes enterLeft {
  from {
    opacity: 0;
    transform: translateX(-200px) scale(0.8) rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1) rotate(0);
  }
}
@keyframes enterRight {
  from {
    opacity: 0;
    transform: translateX(200px) scale(0.8) rotate(10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1) rotate(0);
  }
}
@keyframes exitLeft {
  from {
    opacity: 1;
    transform: translateX(0) scale(1) rotate(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px) scale(0.8) rotate(-10deg);
  }
}
@keyframes exitRight {
  from {
    opacity: 1;
    transform: translateX(0) scale(1) rotate(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px) scale(0.8) rotate(10deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
